body {
  background-color:#f4f1f1;
  overflow-x: hidden;
}

.footer-section {
	padding: 20px 0;
}

.copyright {
	padding-top: 5px;
	font-size: 12px;
	color: #838488;
	line-height: normal;
}

.header-section {
	padding: 50px 40px;
}


ul {
	list-style: none;
}

ul li {
	font-size: 22px;
	color: #808181;
	margin-bottom: 9px;
}

ul li span {
	color: #40424a;
	display: inline-block;
	min-width: 220px;
}

ul li:last-child {
	margin-bottom: 0;
}

ul li:first-child {
	margin-top: 15px;
}
